* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-background: rgb(16, 16, 16);
  --body-secondary-background: rgb(10, 10, 10);
  --posts-background: rgb(24, 24, 24);
  --posts-border-color: rgb(45, 45, 45);
  --color-description: rgb(243, 245, 247);
  --actions-color: rgb(204, 204, 204);
  --posts-width-md-size: 830px;
}

body {
  background-color: var(--body-background);
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.fa-brands.fa-threads {
  font-size: 30px;
}

.option svg {
  width: 26px;
  height: 26px;
  color: #4d4d4d;
}

.add-thread {
  text-align: center;
}

.open-app {
  color: black;
  background-color: white;
  width: 101px;
  height: 36px;
  border-radius: 10px;
  position: relative;
}

.open-app a {
  position: absolute;
  color: black;
  padding: 9px 18px;
  text-align: center;
  font-size: 13px;
  font-weight: 550;
}

.content-for-you {
  text-align: center;
  font-size: 15.5px;
  font-weight: 500;
  color: var(--color-description);
}

@media screen and (max-width: 699px) {
  .content {
    padding: 10px 1rem 90px 1rem;
  }

  .content-for-you {
    display: none;
  }

  #side-menu {
    display: none;
  }

  #top-menu {
    display: flex;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--body-background);
  }

  #footer-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    justify-content: space-evenly;
    gap: 20px;
    background-color: var(--body-background);
  }

  #footer-menu .option {
    align-self: center;
  }

  .add-thread {
    width: calc(20% - 8px);
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    background-color: #202020;
  }

  #tabs {
    display: flex;
    width: 100%;
    margin-top: 80px;
    padding: 15px;
    border-bottom: 1px solid #4d4d4d;
    justify-content: space-around;
  }

  #new-post {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  #top-menu {
    display: none;
  }

  #side-menu {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 60px;
    padding: 20px 25px;
    gap: 10px;
    position: fixed;
    justify-content: space-between;
  }

  #side-menu .middle-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .option svg {
    fill: transparent;
  }

  #side-menu .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #footer-menu {
    display: none;
  }

  .add-thread {
    width: 60px;
    height: 48px;
    padding: 10px;
    margin-left: -14px;
    border-radius: 15px;
    background-color: #171717;
  }

  #tabs {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    padding: 1.5rem 5rem 0 5rem;
  }
}

@media screen and (min-width: 830px) {
  body {
    background-color: var(--body-secondary-background);
  }

  .content {
    max-width: var(--posts-width-md-size);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }
}
