* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#side-menu {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 20px 25px;
  gap: 10px;
  position: fixed;
  justify-content: space-between;
}

#side-menu .middle-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#side-menu .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fa-brands.fa-threads {
  font-size: 30px;
}

#side-menu .option svg {
  width: 26px;
  height: 26px;
  color: #4d4d4d;
}
