#posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1.5rem;
}

.post .profile-image {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(243, 245, 247, 0.15);
  margin-right: 10px;
}

.post .profile-name {
  font-weight: 550;
  font-size: 16px;
}

.post .profile-name .post-time {
  font-size: 16px;
  font-weight: 500;
  color: rgb(168, 168, 168, 1);
}

.post-description {
  margin-top: 10px;
  margin-left: 46px;
  color: var(--color-description);
  font-size: 15px;
  font-weight: 400;
}

.card-post {
  padding-right: 2.3rem;
}

.card-post .post-image {
  max-width: 100%;
  width: 430px;
  margin-top: 15px;
  margin-left: 42px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  border-radius: 8px;
}

.card-post .card-description {
  background-color: #101010;
  width: 400px;
  height: 94px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.actions {
  display: flex;
  gap: 25px;
  margin-top: 12px;
  margin-left: 44px;
}

.actions .action {
  display: flex;
  gap: 5px;
}

.actions .action > svg {
  width: 18px;
  height: 18px;
  fill: transparent;
}

.actions .action > svg:not(.repost-svg) {
  stroke: var(--actions-color);
}

.actions .action > span {
  color: var(--actions-color);
  align-self: center;
  height: 12px;
  font-size: 12px;
}

.divider {
  border-bottom: 1px solid #262626;
  width: 100%;
}

@media screen and (min-width: 700px) {
  #container {
    background-color: var(--posts-background);
    border-radius: 25px;
    border: 1px solid var(--posts-border-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #new-post > .divider {
    margin-bottom: 20px;
    width: 100%;
  }

  .new-post-content {
    display: flex;
    gap: 10px;
    padding: 25px 26px 20px 26px;
  }

  .new-post-content img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .new-post-content form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .new-post-content form input {
    background-color: transparent;
    border: none;
  }

  .new-post-content form input {
    width: 90%;
    color: white;
  }

  .new-post-content form input:focus {
    outline: none;
  }

  .new-post-content form input::placeholder {
    color: #777;
    font-size: 15px;
  }

  .new-post-content form button {
    background-color: transparent;
    width: 63px;
    padding: 10px;
    border: 1px solid var(--posts-border-color);
    border-radius: 10px;
    color: var(--color-description);
    font-weight: 700;
    font-size: 14px;
  }
}
